.footer {
    padding: 100px 0;
    background-color: #f5fbfc; 
    background-image: url("https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa326ac76b5fe_Pattern%20Footer.svg");
    background-position: 0% 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer .container {
    @apply flex flex-col;
}

.footer-line {
    @apply flex items-center justify-between;
}

.footer-line_bottom {
    margin-top: 100px;
    padding-top: 60px;
    border-top: 1px solid rgba(126, 130, 143, 0.09);
}

.footer-line_bottom a {
    color: var(--color-primary);
    text-decoration: underline;
}